.top-3 {
    height: 100vh;
    padding: 5% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #101c3a;  */
}

@media (max-width: 500px) {
    .top-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
  }