.top-3 {
    height: 100vh;
    padding: 5% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #101c3a;  */
}

.top-3-title {
    min-height: 300px;
    border: 1px solid black;
    box-shadow: 0 5px 10px black;
    background-color: black;
    /* width: calc(25% - 40px); */
    padding: 20px;

}