@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Permanent+Marker&family=Playpen+Sans:wght@800&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Luckiest Guy', cursive;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Playpen Sans', cursive;
}

body {
    margin: 0;
    color: white;
    background-color: #1F305E;
}


.about {
    height: 100vh;
    display: flex;
    align-items: center;
    padding:0 10%;
}

.about-content{
    max-width: 1000px;

}

.about-content h1{
    color: white;
    font-size: 25px;
    font-weight:700;
}

.about-content p{
    font-size: 20px;
}


.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding:0 10%;
}

.home-content{
    max-width: 600px;

}

.home-content h1{
    color:white;
    font-size: 43px;
    font-weight:700;
}

.home-content h3{
    font-size: 32px;
    font-weight:700 ;
    color: #00abf0;
}

.nav {
    background-color: #1F305E;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 5%;
}

.site-title {
    font-size: 2rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li:hover {
    color: #00abf0;
}


.nav li.active { 
    color: #00abf0;
}


.card {
    border: 1px solid black;
    box-shadow: 0 0 5px black;
    width: 250px;
    margin: 20px;
}

.card-image img{
    width: 249px;
    height: 160px;
}

.card-title, .description {
    text-align: center;
    margin: 0;
    padding: 10px;
}

.card-title {
    font-weight: bold;
    font-size: 14px;
}

.description {
    font-size: 12px;
}

.project-cards{
    width:80%;
    text-align: center;
    margin-left: 10%; 
}

.project-cards > .card{
    display: inline-block;
}

