
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Luckiest+Guy&family=Permanent+Marker&family=Playpen+Sans:wght@800&family=Rubik:wght@300&display=swap");

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-family: "Luckiest Guy", cursive;
  font-family: "Permanent Marker", cursive;
  font-family: "Playpen Sans", cursive;
  font-family: "Rubik", sans-serif;
}

body {
  margin: 0;
  color: white;
  background-color: #1f305e;
}

/*css foR about page */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 10%;
  flex-direction: column; /* Ensure items are stacked vertically */
}

.about h1 {
  margin-top: -30px; /* Adjusted to positive value for margin from the top */
  margin-bottom: 50px; /* Adjusted for more compact spacing */
  font-size: 32px;
}

.about-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  max-width: 1200px;
  width: 100%;
}

.card2 {
  background-color: #1f305e;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 5px 5px #00abf0;
  transition: transform 0.3s;
}

.card2:hover {
  transform: scale(1.05);
}

.card2 h1 {
  color: #00abf0;
  font-size: 24px;
  margin-bottom: 10px;
}

.card2 p {
  font-size: 18px;
  color: white;
  line-height: 1.6;
}

/* Specific positioning for each card */
.about-card1 {
  grid-column: 1;
}

.about-card2 {
  grid-column: 2;
}

.about-card3 {
  grid-column: span 2;
}

/*css foR home page */
.home {
  display: flex;
  justify-content: center;
  padding: 10%;
}

.home-content {
  max-width: 600px;
}

.home-content h1 {
  color: white;
  font-size: 43px;
  font-weight: 700;
  margin-bottom: 10px;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  color: #00abf0;
  margin-top: 20px;
}

.home-content p {
  margin-top: 0px;
}

.socials {
  margin-top: 40px;
  margin-bottom: 40px;
  gap: 20px;
}

.socials img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  transition: transform 0.3s ease-in-out;
}

.social-icon:hover img {
  transform: translateY(15px);
}

.techstack {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: -15.5%;
}

.tech-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tech-icons img {
  max-height: 30px;
}

.tech-icon {
  transition: transform 0.3s ease-in-out;
}

.tech-icon:hover {
  transform: translateY(-15px);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 63%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.typing-animation {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15em solid white;
  animation: typing 2s steps(40, end) forwards, blink-caret 0.75s step-end infinite;
  animation-delay: 0s, 3s;
  width: 0;
}

/*css for navbar */
.container {
  max-width: 1600px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 40px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navbar {
  background-color: #1f305e;
  color: white;
  height: 70px;
}

.logo {
  font-size: 25px;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar a {
  color: inherit;
  text-decoration: none;
  padding: 10px;
  margin: 0 5px;
}

.navbar li:hover {
  border-bottom: 1px white solid;
}

.navbar li.active {
  color: #00abf0;
}

.navbar .flex {
  justify-content: space-between;
}

/*css for cards / project page */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px; /* Adjust max-width to your preference */
}

.card {
  border: 1px solid black;
  box-shadow: 0 5px 10px black;
  background-color: black;
  width: calc(25% - 40px);
  margin: 20px;
  min-height: 300px;
}

.card-image img {
  width: 100%;
  height: 160px;
}

.card-title,
.description {
  text-align: center;
  margin: 0;
  padding: 10px;
}

.card-title {
  font-weight: bold;
  font-size: 14px;
}

.description {
  font-size: 12px;
}

.card a img {
  display: block;
  margin: 0 auto;
  transition: transform 0.3s ease-in-out;
}

.card:hover a img {
  transform: translateY(-40px);
}

.project-cards {
  width: 80%;
  text-align: center;
  margin-left: 10%;
  margin-top: 3%;
}

.project-cards > .card {
  display: inline-block;
}

.card:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.02);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.card.expanded {
  transform: scale(1.2);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: transparent;
  padding: 20px;
  border-radius: 5px;
  max-width: 650px;
  width: 90%;
  box-shadow: 0 0 10px black;
  text-align: center;
  position: relative;
}

.modal-content img {
  max-width: 100%;
  border-radius: 10px;
}

.modal-close {
  position: absolute;
  top: 1%;
  right: 1%;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.modal-content h2 {
  font-size: 20px;
}

.modal-content p {
  font-size: 16px;
}

/*css for form / contact page */
.contact h1 {
  text-align: center;
  font-size: 30px;
}

.contact {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 700px;
  font-size: 16px;
  margin: 60px;
  padding: 70px;
  border: 1px solid black;
  box-shadow: 0 0 5px black;
}

input {
  width: 100%;
  height: 35px;
  padding: 7px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
}

textarea {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  max-height: 100px;
  min-height: 100px;
  padding: 7px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
}

label {
  margin-top: 1rem;
  margin-bottom: 7px;
}

input[type="submit"] {
  margin-top: 2rem;
  cursor: pointer;
  background: #00abf0;
  color: white;
  border: none;
}

.links-row {
  color: white;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.links-row h3 {
  margin: 0;
}

.links-row a {
  color: white;
  text-decoration: none;
}

.links-row a:hover {
  color: #00abf0;
  text-decoration: underline;
}

/* Media queries */

/* Navbar */
@media (max-width: 500px) {
  .navbar {
    height: 170px;
    padding: 10px;
  }

  .navbar .flex {
    flex-direction: column;
  }

  .navbar ul {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

/* Home */
@media (max-width: 500px) {
  .home {
    text-align: center;
  }

  .techstack {
    display: flex;
    justify-content: center;
    margin-top: -5%;
  }
}

/* About */
@media (max-width: 1024px) {
  .about-content {
    grid-template-columns: 1fr;
  }

  .card2 {
    padding: 15px;
  }

  .card2 h1 {
    font-size: 22px;
  }

  .card2 p {
    font-size: 16px;
  }

  /* Reset margins for mobile view */
  .about-card1,
  .about-card2,
  .about-card3 {
    margin-left: 0;
    margin-right: 0;
    grid-column: span 1;
  }
}

@media (max-width: 500px) {
  .about {
    text-align: center;
  }

  .about p {
    font-size: 16px;
  }
}

/* Projects */
@media (max-width: 1200px) {
  .card {
    width: calc(50% - 20px); /* 2 columns on medium screens */
    margin: 10px;
  }
}

@media (max-width: 768px) {
  .card {
    width: calc(100% - 20px); /* 1 column on small screens */
    margin: 10px;
  }

  .card-image img {
    height: 120px;
  }

  .card-title {
    font-size: 12px;
  }

  .description {
    font-size: 10px;
  }

  .cards-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .card {
    width: 80%;
    max-width: 400px;
  }
}

/* Contact */
@media (max-width: 1024px) {
  form {
    width: 90%; /* Adjust the width for smaller screens */
    margin: 40px; /* Reduce the margin */
    padding: 50px; /* Reduce the padding */
  }

  input,
  textarea {
    font-size: 14px; /* Adjust the font size */
  }

  input[type="submit"] {
    padding: 10px 20px; /* Adjust the submit button padding */
  }
}

@media (max-width: 768px) {
  .contact {
    flex-direction: column; /* Stack content vertically */
  }

  .contact h1,
  .contact h3 {
    text-align: center; /* Ensure h1 and h3 are centered horizontally */
  }

  form {
    width: 95%; /* Further adjust the width for smaller screens */
    margin: 30px; /* Further reduce the margin */
    padding: 40px; /* Further reduce the padding */
  }

  input,
  textarea {
    font-size: 14px; /* Adjust the font size */
  }

  input[type="submit"] {
    padding: 10px 20px; /* Adjust the submit button padding */
  }
}

@media (max-width: 480px) {
  form {
    width: 100%; /* Ensure the form is full-width on very small screens */
    margin: 20px; /* Further reduce the margin */
    padding: 20px; /* Further reduce the padding */
  }

  input,
  textarea {
    font-size: 14px; /* Adjust the font size */
  }

  input[type="submit"] {
    padding: 10px 20px; /* Adjust the submit button padding */
  }
}
